# Quartus build files
db/
incremental_db/
output_files/
greybox_tmp/
simulation/

# Reports
*.rpt
*.summary
*.smsg
*.log

# Programming files
*.sof
*.pof
*.jic

# Temporary files
*.bak
*.tmp
*.swp

# Quartus GUI workspace
*.qws

# Platform designer generated HDL
*_inst.v
*_bb.v


